<div class="card-producto">
  <div class="imagen-wrapper">
    <img [src]="item.imagen" [alt]="item.nombre" class="img-carta">
  </div>
  
  <h3>{{ item.nombre }}</h3>
  <p class="marca">Expansión: {{ item.marca }}</p>
  
  <p class="precio">{{ item.precio | currency:'MXN' }}</p>

  <p class="stock-info">
    Stock: 
    <span [ngClass]="{ 'stock-critico': item.stock < 5, 'stock-disponible': item.stock >= 5 }">
      {{ item.stock }} unidades
    </span>
  </p>
  
  <div class="acciones">
    <a [routerLink]="['/productos', item.id]" class="btn-detalle">Ver Detalle</a>
    <button class="btn-agregar" (click)="alAgregarAlCarrito()">Agregar al carrito</button>
  </div>
</div>