<header>
  <nav>
    <div class="logo">
      <h1>Pokemon TCG Store</h1>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/catalogo">Ver Cartas</a></li>
      <li><a routerLink="/alta-producto">Agregar Carta</a></li>
      <li><a routerLink="/carrito">Carrito</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; 2026 - Tienda Pokemon TCG - Examen Parcial 2</p>
</footer>